<Type Name="IMessageActivityMapper" FullName="Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper">
  <TypeSignature Language="C#" Value="public interface IMessageActivityMapper" />
  <TypeSignature Language="ILAsm" Value=".class public interface auto ansi abstract IMessageActivityMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper" />
  <TypeSignature Language="VB.NET" Value="Public Interface IMessageActivityMapper" />
  <TypeSignature Language="F#" Value="type IMessageActivityMapper = interface" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Bot.Builder</AssemblyName>
    <AssemblyVersion>3.16.1.38846</AssemblyVersion>
    <AssemblyVersion>3.19.1.44133</AssemblyVersion>
    <AssemblyVersion>3.20.1.42</AssemblyVersion>
  </AssemblyInfo>
  <Interfaces />
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName="Map">
      <MemberSignature Language="C#" Value="public Microsoft.Bot.Connector.IMessageActivity Map (Microsoft.Bot.Connector.IMessageActivity message);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.Bot.Connector.IMessageActivity Map(class Microsoft.Bot.Connector.IMessageActivity message) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper.Map(Microsoft.Bot.Connector.IMessageActivity)" />
      <MemberSignature Language="VB.NET" Value="Public Function Map (message As IMessageActivity) As IMessageActivity" />
      <MemberSignature Language="F#" Value="abstract member Map : Microsoft.Bot.Connector.IMessageActivity -&gt; Microsoft.Bot.Connector.IMessageActivity" Usage="iMessageActivityMapper.Map message" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Bot.Builder</AssemblyName>
        <AssemblyVersion>3.16.1.38846</AssemblyVersion>
        <AssemblyVersion>3.19.1.44133</AssemblyVersion>
        <AssemblyVersion>3.20.1.42</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Bot.Connector.IMessageActivity</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="message" Type="Microsoft.Bot.Connector.IMessageActivity" />
      </Parameters>
      <Docs>
        <param name="message">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>