<Type Name="SetLocalTimestampMapper" FullName="Microsoft.Bot.Builder.Dialogs.Internals.SetLocalTimestampMapper">
  <TypeSignature Language="C#" Value="public sealed class SetLocalTimestampMapper : Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi sealed beforefieldinit SetLocalTimestampMapper extends System.Object implements class Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper" />
  <TypeSignature Language="DocId" Value="T:Microsoft.Bot.Builder.Dialogs.Internals.SetLocalTimestampMapper" />
  <TypeSignature Language="VB.NET" Value="Public NotInheritable Class SetLocalTimestampMapper&#xA;Implements IMessageActivityMapper" />
  <TypeSignature Language="F#" Value="type SetLocalTimestampMapper = class&#xA;    interface IMessageActivityMapper" />
  <AssemblyInfo>
    <AssemblyName>Microsoft.Bot.Builder</AssemblyName>
    <AssemblyVersion>3.16.1.38846</AssemblyVersion>
    <AssemblyVersion>3.19.1.44133</AssemblyVersion>
    <AssemblyVersion>3.20.1.42</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces>
    <Interface>
      <InterfaceName>Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper</InterfaceName>
    </Interface>
  </Interfaces>
  <Docs>
    <summary>To be added.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public SetLocalTimestampMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Bot.Builder.Dialogs.Internals.SetLocalTimestampMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Bot.Builder</AssemblyName>
        <AssemblyVersion>3.16.1.38846</AssemblyVersion>
        <AssemblyVersion>3.19.1.44133</AssemblyVersion>
        <AssemblyVersion>3.20.1.42</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>To be added.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="Map">
      <MemberSignature Language="C#" Value="public Microsoft.Bot.Connector.IMessageActivity Map (Microsoft.Bot.Connector.IMessageActivity message);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class Microsoft.Bot.Connector.IMessageActivity Map(class Microsoft.Bot.Connector.IMessageActivity message) cil managed" />
      <MemberSignature Language="DocId" Value="M:Microsoft.Bot.Builder.Dialogs.Internals.SetLocalTimestampMapper.Map(Microsoft.Bot.Connector.IMessageActivity)" />
      <MemberSignature Language="VB.NET" Value="Public Function Map (message As IMessageActivity) As IMessageActivity" />
      <MemberSignature Language="F#" Value="abstract member Map : Microsoft.Bot.Connector.IMessageActivity -&gt; Microsoft.Bot.Connector.IMessageActivity&#xA;override this.Map : Microsoft.Bot.Connector.IMessageActivity -&gt; Microsoft.Bot.Connector.IMessageActivity" Usage="setLocalTimestampMapper.Map message" />
      <MemberType>Method</MemberType>
      <Implements>
        <InterfaceMember>M:Microsoft.Bot.Builder.Dialogs.Internals.IMessageActivityMapper.Map(Microsoft.Bot.Connector.IMessageActivity)</InterfaceMember>
      </Implements>
      <AssemblyInfo>
        <AssemblyName>Microsoft.Bot.Builder</AssemblyName>
        <AssemblyVersion>3.16.1.38846</AssemblyVersion>
        <AssemblyVersion>3.19.1.44133</AssemblyVersion>
        <AssemblyVersion>3.20.1.42</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>Microsoft.Bot.Connector.IMessageActivity</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="message" Type="Microsoft.Bot.Connector.IMessageActivity" />
      </Parameters>
      <Docs>
        <param name="message">To be added.</param>
        <summary>To be added.</summary>
        <returns>To be added.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>