				{% if include.page.url == include.my_page.url %}
					{% assign class = 'page-link navselected' %}
				{% else %}
					{% assign class = 'page-link' %}
				{% endif %}
				{% if include.my_page.redirect != null %}
					{% assign target = 'target="_blank"' %}
				{% else %}
					{% assign target = '' %}
				{% endif %}
			<li class="" weight="{{ include.my_page.weight }}"><a class="{{ class }}" href="{{ include.my_page.url | prepend: site.baseurl }}#navtitle">{{ include.my_page.title }}</a></li>
