<!-- Initial Form for Channel and Feature Matrix -->
<hr>
<div class="no-js">
<div class="matrix-form2">
    <div class="c-select-menu f-border" width="260px" height="40px">
        <a href="#" role="button" aria-expanded="false" id="select_channel">Select a channel</a>
        <ul id="channels_ul" role="menu" class="c-menu f-scroll" aria-label="channels_ul" aria-hidden="true">
            {% for channel in site.data.new.channels %}
            <li class="c-menu-item" role="menuitem" id="{{channel.channel_name}}">
                <a aria-checked="false" role="menuitemradio" href="/en-us/channel-inspector/channels/{{channel.channel_name}}#f={{feature.feature_name}}&e=example1" onclick="setFocused('channels');">{{channel.channel_name}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="c-select-menu f-border">
        <a href="#" role="button" aria-checked="true" aria-expanded="false" id="select_feature" width="260px" height="40px">Select a feature</a>
        <ul id="features_ul" role="menu" class="c-menu f-scroll" aria-label="features_ul" aria-hidden="true">
            {% for channel in site.data.new.channels %}
            {% if channel.channel_name == include.channel_selected %}
            {% for feature in channel.features %}
            <li class="c-menu-item" role="menuitem" id="{{feature.feature_name}}">
                <a aria-checked="false" role="menuitemradio" href="/en-us/channel-inspector/channels/{{channel.channel_name}}#f={{feature.feature_name}}&e=example1" onclick="setFocused('features');">{{feature.feature_name}}</a>                
            </li>
            {% endfor %}
            {% endif %}            
            {% endfor %}            
        </ul>
    </div>
</div>
</div>
<!-- Feature Description -->
{% for channel in site.data.new.channels %}
    {% if channel.channel_name == include.channel_selected %}
        <div id="channel_{{channel.channel_name}}" class="matrix-channel"> <!-- JQuery is needing it! -->
            <div id="channel_name">{{channel.channel_name}}</div> 

            {% for feature in channel.features %}
                <!-- Feature Data -->
                <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}" class="matrix-feature">
                    <h3>Preview</h3>
                    <hr>
                
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_examples_num" name="examples_num" class="matrix-hidden_control">{{feature.examples.size}}</div>
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_current_example" name="current_example" class="matrix-hidden_control"></div>
                                       
                    {% for example in feature.examples %}
                    <!-- Examples Data -->
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}" class="matrix-info">                        
                        <div class="matrix-image">
                                <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_matrix-image-url" class="matrix-image-url">
                                    <img class="example-image" name="{{example.title}}" id="{{example.title}}" src="../../../images/matrix/{{include.channel_selected}}/{{feature.feature_name}}/{{example.title}}.png">
                                    {% if feature.examples.size > 1 %}
                                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_backward" class="img-button button-backward"><img src="../../../images/matrix/buttons/flipper-left.svg"/></div>
                                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_forward" class="img-button button-forward"><img src="../../../images/matrix/buttons/flipper-right.svg"/></div>
                                    {% endif %}
                                </div>
                                <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_buttons" class="buttons">
                                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_dots" class="dots"></div>
                                    <!--
                                    <img id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_backward" class="button button-backward" src="../../images/matrix/buttons/backward.jpg" width="50px" height="50px">    
                                    <img id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_play" class="button button-play" src="../../images/matrix/buttons/play.jpg" width="50px" height="50px">
                                    <img id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_stop" class="button button-stop" src="../../images/matrix/buttons/stop.jpg" width="50px" height="50px">
                                    <img id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_forward" class="button button-forward" src="../../images/matrix/buttons/forward.jpg" width="50px" height="50px">                                    
                                    -->
                                </div>
                        </div>                     
                    </div>
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_matrix-description" class="matrix-description">
                        <h3>Description</h3>
                        <hr>
                        <div class="matrix-description-info">
                            <div id="feature_name" class="matrix-feature-name" name="feature_name"><b>{{feature.feature_name}}</b></div>
                            <div id="feature_description" class="matrix-feature-description" name="feature_description">{{feature.feature_description}}</div>
                            <hr>
                            <div class="matrix-specifications">
                                <div class="matrix-specifications-text">Specifications</div>
                                <div id="feature_sdk_version" class="text" name="sdk_version">SDK Version: {{channel.sdk_version}}</div><br>
                                <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_facts" class="matrix-facts"> 
                                        {% for fact in feature.facts %}                                                                                   
                                            {{fact.name}}: {{fact.value}} <br><br>
                                            <!-- {{fact.detail}} -->
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_{{example.title}}_samples" class="matrix-samples">
                        <h3>Code</h3>
                        <hr>
                        <b>View and download code:</b><br>
                        <table class="matrix-table">
                            <tr>
                                <td width="10%">JSON</td>
                                <td width="80%">{{example.json_url}}</td>
                                <td width="10%"><b><a href="/en-us/channel-inspector/files/{{include.channel_selected}}/{{feature.feature_name}}/{{example.json_url}}">View</a></b></td>
                            </tr>
                            <tr>
                                <td>JS</td>
                                <td>{{example.js_url}}</td>
                                <td><b><a href="/en-us/channel-inspector/files/{{include.channel_selected}}/{{feature.feature_name}}/{{example.js_url}}">View</a></b></td>
                            </tr>                            
                            <tr>
                                <td>C#</td>
                                <td>{{example.cs_url}}</td>
                                <td><b><a href="/en-us/channel-inspector/files/{{include.channel_selected}}/{{feature.feature_name}}/{{example.cs_url}}">Download</a></b></td>
                            </tr>
                        </table>
                    </div>
                    {% endfor %}       <!-- examples -->

                    {% if feature.examples.size < 1 %}
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_example1" class="matrix-info">                        
                        <div class="matrix-image">
                                <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_example1_matrix-image-url" class="matrix-image-url">
                                    <img class="example-image" name="no_image" id="no_image" src="../../../images/matrix/NoImage/no-preview-available.png">
                                </div>
                        </div>
                    </div>
                    <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_example_example1_matrix-description" class="matrix-description">
                        <h3>Description</h3>
                        <hr>
                        <div class="matrix-description-info">
                            <div id="feature_name" class="matrix-feature-name" name="feature_name"><b>{{feature.feature_name}}</b></div>
                            <div id="feature_description" class="matrix-feature-description" name="feature_description">{{feature.feature_description}}</div>
                            <hr>
                            <div class="matrix-specifications">
                                <div class="matrix-specifications-text">Specifications</div>
                                <div id="feature_sdk_version" class="text" name="sdk_version">SDK Version: {{channel.sdk_version}}</div><br>
                                <div id="channel_{{channel.channel_name}}_feature_{{feature.feature_name}}_facts" class="matrix-facts"> 
                                        {% for fact in feature.facts %}                                                                                   
                                            {{fact.name}}: {{fact.value}} <br><br>
                                            <!-- {{fact.detail}} -->
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>                    
                    {% endif %}  
                </div>
            {% endfor %}               <!-- features -->
        </div>      
    {% endif %}
{% endfor %}

<script>
    $(matrix);
</script>