<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	{% if page.redirect %}
  <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
	{% endif %}
  <title>{{ page.title | escape }} | Documentation | Bot Framework</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="{{ "/css/documentation.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
	{% if page.permalink contains "channel-inspector" %}
  <link rel="stylesheet" type="text/css" href="/css/matrix.css" />
  <link rel="stylesheet" href="http://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.10.0/css/mwf-west-european-default.min.css" />
  <script src="/js/matrix.js"></script>
 	{% endif %}
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="/css/index.js"></script>
  <script src="/css/documents.js"></script>
  <!--<script src="http://localhost:8000/matrix.js"></script>-->
  <!-- START OF SmartSource Data Collector TAG v10.4.23 -->
  <!-- Copyright (c) 2016 Webtrends Inc.  All rights reserved. -->
  <script type="text/javascript" src="/js/webtrends.load.js"></script>
  <!-- 
    appInsights
  -->
  <script type="text/javascript">
    var appInsights=window.appInsights||function(config){
      function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
      }({
          instrumentationKey:"ecf7f29d-de8c-4169-a492-bdce0a32c300"
      });
        
      window.appInsights=appInsights;
      appInsights.trackPageView();
  </script>  
</head>
