	{% comment %}
		current implementation supports only 2 levels in the TOC, adding a new level requires
		code changes and css changes.
	{% endcomment %}

{% assign spl = page.permalink | split: '/' %}
{% if page.permalink contains "/search/" %}
    {% assign action = "" %}
{% else %}    
	{% capture action %}/{{spl[1]}}/search/{% endcapture %}
{% endif %}

{% assign lang = "" %}
{% if spl[2] == "node" or spl[2] == "csharp" %}
	{% assign lang = spl[2] %}
{% endif %}
	<div class="trigger">
		<div id="wrapper">
    <form id="docs-search-form" action="{{ action }}">
					<select id="lang-select" name="lang" >
						<option value="">All</option>
						<option value="node">Node.js</option>
						<option value="csharp">.NET</option>
					</select>
        <input id="q" name="q" type="text" placeholder="" />
				<input type="hidden" id="v" name="v" value="v3"/>
				<input type="hidden" id="mkt" name="mkt" value="{{spl[1]}}"/>
        <button id="bt_search" name="bt_search" class="icon-search" type="submit"  />
    </form>
	</div>

		<ul class="level0 backToHome" style="display:none;">
			<li><a class="page-link" href="/en-us/">&lt; Documentation Home</a></li>
		</ul>
	{% assign sorted_pages = (site.pages | sort: 'weight') %}
	{% assign grouped_pages1 = (sorted_pages | group_by: 'parent1') %}
	{% for group1 in grouped_pages1 %}
	  {% if group1.name == 'none' %}
		<ul class="level0">
		{% for my_page in group1.items %} 		
			{% include _function_navselected.html page = page my_page = my_page %}
		{% endfor %}
		</ul>
	  {% endif %}
	  {% if group1.name <> 'none' and group1.name <> '' %}
   		<div class="level1 parent">{{group1.name}}</div>
        <div class="navContainer">
					{% include _function_nav-section-block.html page = page group = group1 level = 'level1' %}
					{% assign grouped_pages2 = (group1.items | group_by: 'parent2') %}
					{% for group2 in grouped_pages2 %}
						{% if group2.name <> '' %}
										<div class="level2 parent">{{group2.name}}</div>
							{% include _function_nav-section-block.html page = page group = group2 level = 'level2' %}
						{% endif %}
					{% endfor %}
        </div>
	  {% endif %}	
	{% endfor %}

		<ul class="level0">
			<li class=""><a class="page-link" href="http://docs-v1.botframework.com/">V1 documentation</a></li>
		</ul> 
	</div>